<template lang='pug'>
    header.header
        div.container
            div.header__row
                div.header__logo
                    router-link(to='/').header__logo-link Logo
                    img(src='').header__logo-image
                
                div(
                    v-if='!$store.state.user.auth'
                    ).header__buttons
                    div.header__buttons-item
                        div(
                            v-on:click='$store.state.view.loginFormOpened = !$store.state.view.loginFormOpened; $store.state.view.loginFormType = "signin"'
                            ).button.button--light Log In
                    div.header__buttons-item
                        div(
                            v-on:click='$store.state.view.loginFormOpened = !$store.state.view.loginFormOpened; $store.state.view.loginFormType = "registration"'
                            ).button.button--blue Registration

                div(
                    v-if='$store.state.user.auth'
                    v-on:click='$store.state.view.loginFormType = "registration"'
                    ).header__controls
                    div.header__user
                        router-link(to='/lk').header__user-link
                        div(style='background-image:url()').header__user-image
                        div.header__user-info
                            div.header__user-name {{$store.state.user.userData.userName}}
                    router-link(to='/messages' data-value='5').header__icon.header__icon--messages
                    div(v-on:click='$store.dispatch("logOut")').header__icon.header__icon--logout
</template>

<style lang="scss">
.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 20px 0;
    z-index: 20;

    &__row {
        display: flex;
        align-items: center;
    }

    &__logo {
        &-link {
            text-decoration: none;
            color: #000;
            font-size: 30px;
            font-family: sans-serif;
        }
    }

    &__buttons {
        display: flex;
        margin-left: auto;

        &-item {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__user {
        display: flex;
        align-items: center;
        position: relative;

        &-link {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        &-image {
            width: 50px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../assets/images/user.svg);
            background-color: #cccccc;
            flex-shrink: 0;
            margin-right: 20px;
            border-radius: 50%;
        }

        &-name {
            font-family: sans-serif;
        }
    }

    &__icon {
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 30px;
        cursor: pointer;
        position: relative;
        
        &:last-child {
            margin-right: 0;
        }

        &--messages {
            background-image: url(../assets/images/mail.svg);
        }

        &--logout {
            background-image: url(../assets/images/logout.svg);
        }

        &[data-value] {
            
            &:after {
                content: attr(data-value);
                position: absolute;
                right: -12px;
                top: -12px;
                color: #ffffff;
                background-color: rgb(45, 46, 94);
                width: 13px;
                height: 13px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
            }
        }
    }
}

</style>

