<template lang='pug'>
    div
        div(v-for='(conversation, key) in $store.state.conversations'
            v-if='conversation.videoCall !== undefined').i-call
            //- div(v-show='conversation.videoCall.from.userId !== $store.state.user.userData.userId').i-call__row
            div().i-call__row
                div(style='background-image:()').i-call__image
                router-link(to='../user/_id').i-call__nickname asd
                div.i-call__buttons
                    div(v-on:click='applyCall(conversation.roomId)').i-call__buttons-item.i-call__buttons-item--answer Answer
                    div.i-call__buttons-item.i-call__buttons-item--disable Disable
</template>

<script>

import firebase from 'firebase/app'

export default {
    data() {
        return {
            
        }
    },

    methods: {
        
        applyCall: function (id) {
            this.$store.commit({
                type: 'applyCall',
                roomId: id
            });
        }
    }
}
</script>


<style lang="scss">
.i-call {
    position: fixed;
    left: 20px;
    bottom: 20px;
    // width: 200px;
    z-index: 10;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(38, 37, 88, 0.1);
    background-color: #ffffff;

    &__row {
        display: flex;
        align-items: center;
    }

    &__image {
        width: 70px;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #cccccc;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 15px;
    }

    &__nickname {
        color: #2d2e5e;
        text-decoration: none;
        transition: opacity .3s;

        &:hover {
            opacity: 0.8;
        }
    }

    &__buttons {
        margin-left: 15px;

        &-item {
            font-size: 14px;
            cursor: pointer;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            &--answer {
                color: rgb(43, 124, 32);
            }

            &--disable {
                color: rgb(124, 32, 32);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
</style>

