<template lang='pug'>
	div(v-if='!$store.state.user.auth').popup
		div(v-on:click='$store.state.view.loginFormOpened = !$store.state.view.loginFormOpened').popup__overlay
		div.popup__container
			div.login
				div.login__tabs
					div(
						v-on:click="$store.state.view.loginFormType = 'signin'"
						v-bind:class="{ 'login__tabs-item--active': $store.state.view.loginFormType == 'signin' }"
					).login__tabs-item Sign In
					div(
						v-on:click="$store.state.view.loginFormType = 'registration'"
						v-bind:class="{ 'login__tabs-item--active': $store.state.view.loginFormType == 'registration' }"
					).login__tabs-item Registration
				
				// Form for sign in
				form(v-if="$store.state.view.loginFormType == 'signin'"
					@submit.prevent="signInFunc"
					).login__content
					div.login__line
						label(for='').login__label Email
						input(type='text' required v-model='signIn.email').login__input
					div.login__line
						label(for='').login__label Password
						input(type='password' required v-model='signIn.password').login__input
					div.login__submit
						button.button.button--blue Sign In
					div.login__reset
						div.link.link--blue Reset Password
			
				// Form for registration
				form(
					v-if="$store.state.view.loginFormType == 'registration'"
					@submit.prevent="registrationFunc"
					).login__content
					div.login__line
						label(for='registration_username').login__label Username
						input(type='text' required v-model='registration.username').login__input#registration_username
					div.login__line
						label(for='registration_email').login__label Email
						input(type='text' required v-model='registration.email').login__input#registration_email
					div.login__line
						label(for='registration_password').login__label Password
						input(type='password' required v-model='registration.password').login__input#registration_password
					div.login__line
						label(for='').login__label Language(s), which you know
						multiselect(
							v-model="registration.nativeLangs" 
							:options="languages" 
							:multiple="true",
							tag-placeholder="Add language",
							placeholder="Search a language"
						).login__multiselect
					div.login__line
						label(for='').login__label Language(s), which you learn
						multiselect(
							v-model="registration.learnLangs"
							:options="languages" 
							:multiple="true",
							tag-placeholder="Add language",
							placeholder="Search a language"
						).login__multiselect
					div.login__submit
						button.button.button--blue Sign In
					div.login__reset
						div.link.link--blue Reset Password

				// Form to reset password
				//- form.login__content
				//- 	div.login__line
				//- 		label(for='').login__label Username
				//- 		input(type='text' required).login__input
</template>
<script>

import Multiselect from 'vue-multiselect'
import data from 'assets/data/languages.json'
import Vue from 'vue'
import {db} from '../main'
import firebase from 'firebase/app'
require('firebase/auth')
require('firebase/database')
import 'firebase/firestore'

Vue.component('multiselect', Multiselect)

export default {
    components: { 
        Multiselect
    },

    data() {
        return {
			languages: [],
			learnLangs: [],
			nativeLangs: [],

			registration: {
				username: null,
				email: null,
				password: null,
				learnLangs: [],
				nativeLangs: [],
			},
			   
			signIn: {
				email: null,
				password: null,
			}
        }
    },

    methods: {

		registrationFunc: function () {

			let that = this

			if (that.registration.learnLangs.length != 0 && that.registration.nativeLangs.length != 0) {

				firebase.auth().createUserWithEmailAndPassword(this.registration.email, this.registration.password)
				.then((user) => {

					that.$store.state.user.auth = true

					firebase.database().ref('users/' + user.user.uid).set({
						userName: that.registration.username,
						nativeLangs:  that.registration.nativeLangs,
						learnLangs:  that.registration.learnLangs,
						userId: user.user.uid,
						timestamp: firebase.database.ServerValue.TIMESTAMP,
						conversations: []
					})
				})
				.then(() => {

					var user = firebase.auth().currentUser;
					var timestamp

					firebase.database().ref('usersConversations/' + user.uid).set({
						conversations: []
					})

					firebase.database().ref('users/' + user.uid).once('value').then(function (snapshot) {
						timestamp = snapshot.val().timestamp * -1
						firebase.database().ref('users/' + user.uid).update({
							timestamp: timestamp
						})
					})

					user.updateProfile({
						displayName: that.registration.username,
					}).then(function() {
						that.$store.state.user.userName = user.displayName
					}).catch(function(error) {
						console.log(error)
					});

				})
				.catch(function(error) {
					console.log(error.code, error.message)
				});
			} else {
				alert('Please check languages!')
			}
		},

		signInFunc: function (state) {
			
			firebase.auth().signInWithEmailAndPassword(this.signIn.email, this.signIn.password)
			.then((user) => {
				
			})
			.catch(function(error) {
                console.log(error.code, error.message)
            });
		}
	},
	
	beforeCreate() {

		let that = this
		

		firebase.auth().onAuthStateChanged(function(user) {
			if (user) {
				
				that.$store.state.user.auth = true

				firebase.database().ref('usersConversations/' + user.uid).once('value').then(function (snapshot) {
					if (snapshot.val() !== null) {
						that.$store.state.user.conversations.push(snapshot.val().conversations)
					}
				})
				
				firebase.database().ref('users/' + user.uid).once('value').then(function (snapshot) {
					that.$store.state.user.userData = snapshot.val()
					that.$store.state.lk.newLearnLangs = snapshot.val().learnLangs
					that.$store.state.lk.newNativeLangs = snapshot.val().nativeLangs
				}).then(() => {
					that.$store.commit('loadUsers')
					that.$store.commit('loadConversations')
 				})

			} else {
				that.$store.state.user.auth = false
				that.$store.state.users = []
				that.$store.state.lastUserId = -1000000000000000
			}
		});
	},

	created() {

		let that = this
		
		for (let language of data) {
			this.languages.push(language.name)
		}
	}
}
</script>

<style lang="scss">

.popup {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
	padding: 50px;
	background-color: rgba(0,0,0,0.7);
	z-index: 20;

	&__overlay {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
	}

	&__container {
		width: 400px;
		margin: auto;
		background-color: #ffffff;
		z-index: 1;
		border-radius: 5px;
	}
}


.login {
	&__tabs {
		display: flex;
		overflow: hidden;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom: 1px solid rgb(221, 221, 221);

		&-item {
			width: 50%;
			padding: 25px 25px 22px 25px;
			text-align: center;
			cursor: pointer;
			border-bottom: 3px solid transparent;
			border-right: 1px solid rgb(221, 221, 221);
			transition: background-color .3s, border-color .3s;

			&:hover {
				background-color: #eeeeee;
			}

			&--active {
				border-bottom: 3px solid rgb(45, 46, 94);

				&:hover {
					background-color: #ffffff;
				}
			}

			&:last-child {
				border-right: 0px solid rgb(221, 221, 221);
			}
		}
	}

	&__content {
		padding: 20px;
	}

	&__line {
		margin-bottom: 15px;
	}

	&__label {
		display: block;
		font-size: 12px;
		margin-bottom: 5px;
	}

	&__input {
		display: block;
		width: 100%;
		border: none;
		padding: 10px;
		background-color: rgba(217, 217, 241, 0.349);
		border-radius: 5px;
	}

	&__submit {
		margin-top: 10px;
		text-align: center;
	}

	&__reset {
		text-align: center;
		margin-top: 15px;
	}
}


@import 'vue-multiselect/dist/vue-multiselect.min.css';

.multiselect {

	&__content {
		width: 100%;

		&-wrapper {
			overflow: hidden;
			overflow-y: scroll;
		}
	}

	&__tag {
		background-color: #2d2e5e;

		&-icon {

			&:after {
				color: #ffffff;
			}
			
			&:hover {
				background-color: #ff6a6a;
			}
		}
	}
}


</style>


