<template lang='pug'>
    div(v-if='$store.state.users.length > 0').p-cards
        div.p-cards__row
            div(
                v-for='user in $store.state.users'
            ).p-cards__col
                div.p-card
                    router-link(:to="{path: '/user/' + user.userId}").p-card__link 
                    div(style='background-image:url()').p-card__image
                    div.p-card__nickname {{ user.userName }}
                    div.p-card__section
                        div.p-card__section-title I Know
                        div.p-card__list
                            div(v-for='lang in user.nativeLangs').p-card__list-item {{ lang }}
                    div.p-card__section
                        div.p-card__section-title I Learn
                        div.p-card__list
                            div(
                                v-for='lang in user.learnLangs'
                            ).p-card__list-item {{ lang }}
                    div(v-on:click='goToConversations(user.userId)').p-card__button.button.button--blue Написать
        div.p-cards__more
            div(v-on:click='$store.commit("loadUsers")').button.button--blue More
                
</template>

<script>

import firebase from 'firebase/app'

export default {

    data() {
        return {

        }
    },

    methods: {

        goToConversations: function (id) {

            var that = this

            var personId = id
            var personConversations = []

            var ownId = this.$store.state.user.userData.userId
            var ownConversations = this.$store.state.user.conversations

            firebase.database().ref('usersConversations/' + id).once('value').then((snapshot) => {
                if (snapshot.val() !== null) {
                    personConversations = snapshot.val().conversations
                }
            })
            .then(() => {

                if (ownConversations.some(r=> personId.indexOf(r) >= 0)) {
                    let roomId
                    if (ownId > personId) {
                        roomId = ownId + personId
                    } else {
                        roomId = personId + ownId
                    }

                    for (let i = 0; i < this.$store.state.conversations.length; i++) {
                        if (roomId == this.$store.state.conversations[i].roomId) {
                            this.$store.state.messages.checkedChat = this.$store.state.conversations[i]
                        }
                    }

                    that.$router.push('messages')
                } else {

                    personConversations.push(ownId)
                    ownConversations.push(personId)

                    firebase.database().ref('usersConversations/' + personId).set({
                        conversations: personConversations
                    })

                    firebase.database().ref('usersConversations/' + ownId).set({
                        conversations: ownConversations
                    }).then(() => {
                        
                        let roomId
                        if (ownId < personId) 
                            {roomId = personId + ownId} 
                        else 
                            {roomId = ownId + personId}

                        firebase.database().ref('rooms/' + roomId).update({
                            roomId: roomId,
                            timestamp: firebase.database.ServerValue.TIMESTAMP,
                            messages: []
                        }).then((roomId) => {
                            that.$store.commit('loadConversations')
                            that.$router.push('messages')
                        })
                    }).then(() => {
                        let roomId
                        if (ownId < personId) 
                            {roomId = personId + ownId} 
                        else 
                            {roomId = ownId + personId}
                        
                        firebase.database().ref('rooms/' + roomId).once('value').then((snapshot) => {
                            that.$store.state.messages.checkedChat = []
                            that.$store.state.messages.checkedChat = snapshot.val()
                        }).catch((err)=>{console.log(err)})
                    })
                }
            })
        }
    }
}

</script>


<style lang="scss">

.p-cards {
    padding-top: 50px;

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    &__col {
        width: 25%;
        padding: 0 10px;
        margin-bottom: 20px;
    }
}

.p-card {
    position: relative;
    padding: 20px;
    box-shadow: 0 0 40px rgba(38, 37, 88, 0.1);
    overflow: hidden;
    border-radius: 5px;
    transition: box-shadow .3s;

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    &__image {
        margin-bottom: 30px;
        border-radius: 50%;
        width: 100%;
        padding-top: 100%;
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__nickname {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
    }

    &__section {
        margin-bottom: 20px;

        &-title {
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 7px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;

        &-item {
            margin: 0 5px;
            font-size: 14px;
        }
    }

    &__button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        z-index: 3;
        text-align: center;
        width: auto;
        transition: opacity .3s, visibility .3s, transform .3s, color .3s, background-color .3s;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
    }

    &:hover {
        box-shadow: 0 0 60px rgba(38, 37, 88, 0.2);

        .p-card__button {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

</style>
