<template lang='pug'>
    div.sort
        div(v-on:click='sortPersons("suitable")'
            v-bind:class="{ 'sort__item--active': sortState == 'suitable' }"
        ).sort__item most suitable
        div(
            v-on:click='sortPersons("newest")'
            v-bind:class="{ 'sort__item--active': sortState == 'newest' }"
        ).sort__item new
</template>

<script>

export default {
    data() {
        return {
            sortState: 'suitable'
        }
    },

    methods: {

        sortPersons(type) {
            this.sortState = type
        }
    }
}

</script>


<style lang="scss">

.sort {
    display: flex;
    padding: 30px 0;

    &__item {
        color: #2d2e5e;
        margin-right: 30px;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
        transition: opacity .3s;

        &:hover {
            opacity: 0.7;
        }

        &--active {
            text-decoration: underline;

            &:hover {
                opacity: 1;
            }
        }
    }
}

</style>
