<template lang='pug'>
    div
        div(v-for='(conversation, key) in $store.state.conversations'
            v-show='conversation.videoCall !== undefined && conversation.videoCall.talk == true').video
            div.video__inner
                div.video__size-controls
                    div.video__size-controls-item.video__size-controls-item--smaller
                video(autoplay playsinline).video__incoming#remoteVideo
                video(autoplay playsinline).video__me#localVideo
                div.video__controls
                    div.video__controls-item.video__controls-item--settings
                    div.video__controls-item.video__controls-item--disable

</template>

<script>

export default {
    
}
</script>


<style lang='scss'>

.video {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.925);

    &__inner {
        position: relative;
        width: calc(100% - 30px);
        max-width: 1000px;
        max-height: 100vh;
        height: 60vw;
    }

    &__incoming {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        width: 100%;
    }

    &__me {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 180px;
        height: 100px;
    }

    &__size-controls {
        position: absolute;
        right: 0;
        top: -35px;
        display: flex;

        &-item {
            width: 25px;
            height: 25px;
            cursor: pointer;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center;

            &:last-child {
                margin-right: 0;
            }

            &--smaller {
                background-image: url(../assets/images/photo-size.svg);
            }
        }
    }

    &__controls {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.26);
        padding: 15px;
        display: flex;
        align-items: center;

        &-item {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &--disable {
                background-color: rgb(129, 36, 36);
                background-size: 50%;
                background-image: url(../assets/images/phone-call.svg);
            }

            &--settings {
                background-size: 90%;
                background-image: url(../assets/images/settings.svg);
            }
        }
    }
}

</style>
