<template lang='pug'>
div.container
    div.lk
        div.lk__row
            div.lk__image
                div(style='background-image:url()').lk__image-file
                div.lk__image-over

            div.lk__content
                div.lk__line
                    div.lk__username {{user.userName}}
                div.lk__line
                    div.lk__line-title I Know
                    div.lk__line-tags
                        div(v-for='lang in user.nativeLangs').lk__line-tag {{lang}}
                        
                div.lk__line
                    div.lk__line-title I Learn
                    div.lk__line-tags
                        div(v-for='lang in user.learnLangs').lk__line-tag {{lang}}

                div.lk__buttons
                    div.lk__buttons-item
                        router-link(to='../messages/').button.button--blue Text me
</template>

<script>

import firebase from 'firebase/app'

export default {

    data() {
        return {
           user: ''
        }
    },

	mounted() {
        let that = this
        let ref = firebase.database().ref('users/' + this.$route.params.id);

        ref.on("value", function(userInfo) {
            that.user = userInfo.val()
        }, function (error) {
            console.log("Error: " + error.code);
        });
    }
}
</script>


<style lang="scss">

.lk {
    padding: 60px 0;

    &__row {
        display: flex;
    }

    &__image {
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        margin-right: 30px;
        border-radius: 50%;
        margin-bottom: 30px;
        overflow: hidden;
        background-color: #cccccc;
        position: relative;

        &-file {
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgb(151, 105, 105);
        }

        &-over {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            z-index: 2;
            opacity: 0;
            transition: opacity .3s;

            &:after {
                position: absolute;
                content: '';
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
            }
        }

        &:hover {

        }
    }

    &__content {
        flex-grow: 2;
    }

    &__line {
        margin-bottom: 20px;

        &-title {
            font-size: 14px;
            margin-bottom: 5px;
        }

        &-languages {
            width: 250px;

            .login__multiselect {
                width: 100%;
            }
        }

        &-tags {
            display: flex;
        }

        &-tag {
            padding: 5px;
            border-radius: 3px;
            background-color: #2d2e5e;
            color: #ffffff;
            margin-right: 10px;
            font-size: 14px;
        }
    }

    &__username {
        font-size: 30px;
    }

    &__buttons {
        display: flex;

        &-item {
            margin-right: 20px;
        }
    }
}

</style>
