<template lang='pug'>
div.page
  Header
  div.content
    nuxt
  Footer
  Login
  incomingCall
  Video
</template>

<script>

import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'
import Login from '~/components/Login.vue'
import incomingCall from '~/components/incomingCall.vue'
import Video from '~/components/Video.vue'

export default {
  components: {
    Header,
    Footer,
    Login,
    incomingCall,
    Video
  }
}


</script>


<style lang='scss'>

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding-top: 90px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

.button {
  cursor: pointer;
  border: 1px solid transparent;
  transition: color .3s, border-color .3s, background-color .3s;
  padding: 7px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 12px;
  display: block;
  width: 100%;
  text-decoration: none;

  &--light {
    border: 1px solid rgb(45, 46, 94);
    color: rgb(45, 46, 94);

    &:hover {
      color: #fff;
      background-color: rgb(45, 46, 94);
    }
  }

  &--blue {
      color: #fff;
      background-color: rgb(45, 46, 94);
      border: 1px solid rgb(45, 46, 94);

      &:hover {
        background-color: #fff;
        color: rgb(45, 46, 94);
      }
  }

  &--red {
    color: #fff;
    background-color: rgb(139, 38, 38);
    border: 1px solid rgb(139, 38, 38);

      &:hover {
        background-color: rgb(158, 43, 43);
        color: rgb(255, 255, 255);
      }
  }
}

.link {
  font-size: 12px;
  color: rgb(45, 46, 94);
  cursor: pointer;
  transition: opacity .3s;

  &:hover {
    opacity: 0.7;
  }
}
</style>

