<template lang='pug'>
  div.container
    //- Sort
    PersonsCards
</template>

<script>
import Sort from '~/components/Sort.vue'
import PersonsCards from '~/components/PersonsCards.vue'

export default {
  components: {
    Sort,
    PersonsCards
  }
}
</script>

<style lang='scss'>

</style>

