<template lang='pug'>
div.container
    div.lk
        div.lk__row
            div.lk__image
                div(style='background-image:url()').lk__image-file
                div.lk__image-over

            div(
                v-bind:class="{ 'lk__content--editable': this.edit }"
            ).lk__content
                div.lk__line
                    div.lk__username {{$store.state.user.userData.userName}}
                div.lk__line
                    div.lk__line-title I Know
                    div.lk__line-languages
                        multiselect(
							v-model="$store.state.lk.newNativeLangs" 
							:options="languages" 
							:multiple="true",
							tag-placeholder="Add language",
							placeholder="Search or add a language"
						).login__multiselect
                div.lk__line
                    div.lk__line-title I Learn
                    div.lk__line-languages
                        multiselect(
							v-model="$store.state.lk.newLearnLangs"
							:options="languages" 
							:multiple="true",
							tag-placeholder="Add language",
							placeholder="Search or add a language"
						).login__multiselect

                div.lk__buttons
                    div.lk__buttons-item
                        div(v-on:click='edit = !edit').button.button--blue Edit
                    div.lk__buttons-item
                        div(v-on:click='submitNewLangs').button.button--blue Apply
                    div.lk__buttons-item
                        div.button.button--red Cancel
</template>

<script>

import Multiselect from 'vue-multiselect'
import data from 'assets/data/languages.json'
import firebase from 'firebase/app'

export default {
    components: { 
        Multiselect
    },

    data() {
        return {
            user: '',
            languages: [],
            edit: false
        }
    },

    methods: {

        submitNewLangs: function () {

            firebase.database().ref('users/' + this.$store.state.user.userData.userId).update({
                nativeLangs: this.$store.state.lk.newNativeLangs,
                learnLangs: this.$store.state.lk.newLearnLangs
            }).then(() => {
                this.$store.state.user.userData.nativeLangs = this.$store.state.lk.newNativeLangs
                this.$store.state.user.userData.learnLangs = this.$store.state.lk.newLearnLangs
                this.$store.state.users = []
                this.$store.state.lastUserId = -1000000000000000
            }).then(() => {
                this.$store.commit('loadUsers')
            })
            .catch((err) => {
                console.log(err)
            })
        } 

    },

    mounted() {
        let language
		for (language of data) {
			this.languages.push(language.name)
        }
    }
}
</script>


<style lang="scss">

.lk {
    padding: 60px 0;

    &__row {
        display: flex;
    }

    &__image {
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        margin-right: 30px;
        border-radius: 50%;
        margin-bottom: 30px;
        overflow: hidden;
        background-color: #cccccc;
        position: relative;

        &-file {
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgb(151, 105, 105);
        }

        &-over {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            z-index: 2;
            opacity: 0;
            transition: opacity .3s;

            &:after {
                position: absolute;
                content: '';
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
            }
        }

        &:hover {

        }
    }

    &__content {
        flex-grow: 2;

        &--editable {
            opacity: 0.3;
        }
    }

    &__line {
        margin-bottom: 20px;

        &-title {
            font-size: 14px;
            margin-bottom: 5px;
        }

        &-languages {
            width: 250px;

            .login__multiselect {
                width: 100%;
            }
        }
    }

    &__username {
        font-size: 30px;
    }

    &__buttons {
        display: flex;

        &-item {
            margin-right: 20px;
        }
    }
}

</style>
