<template lang='pug'>
    div.messages.container
        div.messages__inner
            div.messages__users
                div.messages__users-search
                    input(type='text' placeholder='Search').messages__users-search-input
                div.messages__users-list
                    div(v-for='(chat, key) in $store.state.conversations').messages__user
                        div(style='background-image:url()').messages__user-image
                        div.messages__user-data
                            router-link(to='../user/_id').messages__user-nickname asd
                            div.messages__user-lastmessage ajksidkalsdk 
                        div.messages__user-dots
                        div.messages__user-status
                        div.messages__user-drop
                            div.messages__user-drop-item Заблокировать
                        div(v-on:click='checkChat(chat.roomId)').messages__user-area

            div.messages__chat
                div.chat
                    div.chat__window
                        div(v-for='(conversation, key) in $store.state.conversations').chat__window-inner
                            div(
                                v-for='(message, key) in conversation.messages'
                                v-bind:class="{ 'chat__message--my': message.from == $store.state.user.userData.userName }"
                                ).chat__message 
                                div.chat__message-date {{message.timestamp | formatDate}}
                                router-link(to='../user/_id').chat__message-author {{message.from}}
                                div.chat__message-text {{message.messageText}}
                            
                    div.chat__controls
                        div.chat__controls-row
                            textarea(placeholder='type your message' v-model='messageText').chat__controls-textarea
                            div(v-on:click='sendMessage($store.state.messages.checkedChat.roomId)').chat__controls-icon.chat__controls-icon--sent
                            div(v-on:click='call($store.state.messages.checkedChat.roomId)').chat__controls-icon.chat__controls-icon--videocall
</template>


<script>

import firebase from 'firebase/app'

export default {

    data() {
        return {
            messageText: ''
        }
    },

    created() {
        let that = this

        firebase.database().ref('rooms/' + that.$store.state.messages.checkedChat.roomId).on('value', function (snapshot) {
            if ( that.$store.state.messages.checkedChat.messages) {
                that.$store.state.messages.checkedChat = snapshot.val()
            }
        })
    },

    methods: {
        checkChat(id) {
            for (let i = 0; i < this.$store.state.conversations.length; i++) {
                if (id == this.$store.state.conversations[i].roomId) {
                    firebase.database().ref('rooms/' + id).once('value').then((snapshot) => {
                        this.$store.state.conversations[i] = snapshot.val()
                        this.$store.state.messages.checkedChat = this.$store.state.conversations[i]
                    })
                }
            }
        },

        sendMessage: function (id) {

            let messagesRef = firebase.database().ref('rooms/' + id + '/messages/').push()

            firebase.database().ref('rooms/' + id + '/messages/').push({
                from: this.$store.state.user.userData.userName,
                messageText: this.messageText,
                timestamp: firebase.database.ServerValue.TIMESTAMP,
                messageKey: messagesRef.key
            })
        },

        call: function (id) {
            this.$store.commit({
                type: 'call',
                roomId: id
            });
        }
    }
}
</script>


<style lang='scss'>

.messages {
    height: 100%;

    &__inner {
        display: flex;
        padding-top: 40px;
        height: 100%;
    }

    &__users {
        width: 300px;
        flex-shrink: 0;

        &-search {
            padding: 15px 15px 0 15px;

            &-input {
                display: block;
                width: 100%;
                border: none;
                padding: 10px;
                border-bottom: 1px solid rgba(63, 69, 156, 0.37);
            }
        }

        &-list {
            padding: 15px;
        }
    }

    &__user {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid rgba(63, 69, 156, 0.37);
        transition: background-color .3s;

        &:last-child {
            border: none;
        }

        &-image {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background-color: #cccccc;
            flex-shrink: 0;
            margin-right: 15px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &-data {
            flex-grow: 2;
        }

        &-nickname {
            position: relative;
            display: block;
            text-decoration: none;
            transition: color .3s;
            color: rgb(55, 50, 124);
            margin-bottom: 5px;
            z-index: 4;

            &:hover {
                color: rgb(86, 79, 192);
            }
        }

        &-lastmessage {
            color: rgb(36, 32, 83);
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden; 
            width: calc(100% - 80px); 
            white-space: nowrap;
        }

        &-drop {
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: 0 0 40px rgba(38, 37, 88, 0.1);
            background-color: #ffffff;
            // padding: 10px;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s, visibility .3s;

            &-item {
                font-size: 14px;
                padding: 7px;
                cursor: pointer;
                color: rgb(55, 50, 124);
                transition: color .3s;

                &:hover {
                    color: rgb(86, 79, 192);
                }
            }
        }

        &-dots {
            position: absolute;
            z-index: 4;
            right: 5px;
            top: 10px;
            width: 15px;
            height: 15px;
            background-image: url(../assets/images/menu.svg);
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                left: -10px;
                top: -10px;
                bottom: -10px;
                right: -10px;
            }
        }

        &-area {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            cursor: pointer;
        }

        &:hover {
            background-color: rgba(177, 182, 252, 0.096);
        }

        &--active {
            background-color: rgba(177, 182, 252, 0.199);

            &:hover {
                background-color: rgba(177, 182, 252, 0.199);
            }
        }
    }

    &__chat {
        flex-grow: 2;
        padding: 15px;
    }
}

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__window {
        position: relative;
        height: calc(100vh - 235px);
        overflow-y: scroll;
       
        &-inner {
            margin: auto 0 0 0;
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        &-alert {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 30px;
            font-size: 14px;
            cursor: pointer;
            text-decoration: underline;
            color: rgb(60, 69, 199);
            z-index: 1;
            transition: color .3s;

            &:hover {
                color: rgba(60, 69, 199, 0.808);
            }
        }
    }

    &__controls {
        height: 150px;
        flex-shrink: 0;
        height: 70px;

        &-row {
            display: flex;
            align-items: center;
            padding-top: 20px;
        }

        &-textarea {
            display: block;
            border: none;
            border-bottom: 1px solid rgba(63, 69, 156, 0.37);
            resize: none;
            flex-grow: 2;
        }

        &-icon {
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 10px;
            cursor: pointer;
            opacity: 0.7;
            transition: opacity .3s;

            &:hover {
                opacity: 1;
            }

            &--sent {
                background-image: url(../assets/images/sent-mail.svg);
            }

            &--videocall {
                background-image: url(../assets/images/videocam-filled-tool.svg);
            }
        }
    }

    &__message {
        position: relative;
        margin-bottom: 5px;
        max-width: 250px;
        padding: 10px 15px;
        border-radius: 5px;
        overflow: hidden;
        background-color: rgb(235, 235, 235);
        min-width: 250px;

        &--my {
            align-self: flex-end;
        }

        &-author {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            color: #37327c;
            transition: color .3s;
            text-decoration: none;

            &:hover {
                color: #564fc0;
            }
        }

        &-text {
            color: #242053;
        }

        &-date {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 12px;
            color: #37327c;
        }
    }
}

</style>



